body {
    background-image: url("images\\wallpaper.jpg");
    background-size: 100% auto;
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0.9;
}

table {
    background-color: white;
    margin: 1cm;
}

caption {
    color: black;
    font-size: 2em;
    margin: auto;
}